@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Raleway', sans-serif;
}

.MktRoot *, .MktRoot :after, .MktRoot :before {
    box-sizing: border-box;
}

.PhoneGraphic {
    --phoneBorderRadius: 36px;
    --phoneScreenBorderRadius: 33px;
    --phoneWidth: 264px;
    --phoneHeight: 533px;
    width: var(--phoneWidth);
    height: var(--phoneHeight);
    padding: 8px;
    border-radius: var(--phoneBorderRadius);
    background: #f6f9fc;
    box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%), inset 0 -2px 6px 0 rgb(10 37 64 / 35%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.HomepageHeroGraphic__phone {
    position: relative;
    margin-top: 60px;
    left: 140px;
}

#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #ef008f; 
    --gradient-color-2: #6ec3f4; 
    --gradient-color-3: #7038ff;  
    --gradient-color-4: #ffba27;
    z-index:0;
  }

  .HomepageIncrementPhone__imageContainer {
    display: grid;
    grid: 80px/56px;
}

.CheckoutPhoneGraphic {
    height: 100%;
    /* padding: 5px 16px; */
    border-radius: 28px;
    background: #fff;
    font-size: var(--checkoutPhoneFontSize);
    font-weight: var(--fontWeightNormal);
    letter-spacing: .2px;
}